<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/variables.css' %}">

	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

	<style>
		@font-face {
		    font-family: 'Poppins';
		    src: url({% static "fonts/Poppins/Poppins-Regular.ttf" %});
		    font-weight: normal;
		    font-style: normal;
		}

		* {
			font-family: "Poppins", sans-serif;
		}
	</style>

	{% block head %}
	{% endblock %}

	<title>Dashboard</title>
</head>
<body>
	<div class="container">

		<aside>
			<div class="sidebar">
				<a href="/" id="home">
					<img class="material-symbols-outlined" src="{% static 'svgs/home.svg' %}">
					<h3>Главная</h3>
				</a>

				<a href="/categoryes" id="cats">
					<img class="material-symbols-outlined" src="{% static 'svgs/list.svg' %}">
					<h3>Категории</h3>
				</a>

				<a href="/admin_panel" id="admin_panel">
					<img class="material-symbols-outlined" src="{% static 'svgs/browse.svg' %}">
					<h3>Панель администратора</h3>
				</a>

				{% if request.user.is_authenticated %}
				<a href="/profile" id="profile">
					<img class="material-symbols-outlined" src="{% static 'svgs/person.svg' %}">
					<h3>Профиль</h3>
				</a>
				{% endif %}
			</div>
		</aside>

		<main id="id_main">
			{% block content %}
			{% endblock %}
		</main>

	</div>


</body>
</html>