{% extends "shop/base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<form method="GET">
	{{form.query}}
	<button class="push_button" type="submit">Search</button>
</form>

<div class="main_container">

	<div class="center-container">

		<div id="search_results" style="display: none;">
			<h1>Результаты поиска:</h1>
			<div id="results" class="results">
			</div>
		</div>

		<div class="main_block_handler">
			<h1 class="title">Каталог</h1>
			<div class="main_block">
				{% for product in products %}
					<a class="card" href="/product/{{product.product.id}}">
						<table>
							<tbody>
							<tr>
								<td><img src="{{product.img.image.url}}" alt=""></td>
							</tr>
							<tr>
								<td><span class="desc">{{product.product.name}}</span><br></td>
							</tr>
							<tr class="last">
								<td><span class="price">{{product.product.price}} ₽</span></td>
							</tr>
							</tbody>
						</table>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="right_block">
		<div class="title">
			<span>Популярное</span>
		</div>
		<div class="cards">
			{% for product in liked_products %}
				<div class="card">
					<a href="/product/{{product.product.id}}">
						<table>
							<tbody>
							<tr>
								<td><img src="{{product.img.image.url}}" alt=""></td>
							</tr>
							<tr style="padding-top: 15px;">
								<td><span class="desc">{{product.product.name}}</span><br></td>
							</tr>
							<tr>
								<td><span class="price">{{product.product.price}} ₽</span></td>
							</tr>
							</tbody>
						</table>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

</div>

<script src="{% static 'js/home.js' %}"></script>
<script>
	document.addEventListener("DOMContentLoaded", ready);

	function ready() {
		document.getElementById("home").classList.add("active");
		document.getElementById("cats").classList.remove("active");
		document.getElementById("profile").classList.remove("active");
		document.getElementById("admin_panel").classList.remove("active");
	}
</script>

{% endblock %}
